In [18]:
import pandas as pd
from datetime import timedelta

In [83]:
dMonday = pd.read_csv(r'/Users/danielbischoff/Library/CloudStorage/OneDrive-UTCloud/Documents - Dateien von Philipp Langsteiner/Data_literacy_mensa/Mensa_data_combined/monday080124.csv')
dTuesday = pd.read_csv(r'/Users/danielbischoff/Library/CloudStorage/OneDrive-UTCloud/Documents - Dateien von Philipp Langsteiner/Data_literacy_mensa/Mensa_data_combined/tuesday090124.csv')
dWednesday = pd.read_csv(r'/Users/danielbischoff/Library/CloudStorage/OneDrive-UTCloud/Documents - Dateien von Philipp Langsteiner/Data_literacy_mensa/Mensa_data_combined/wednesday100124.csv')
dThursday = pd.read_csv(r'/Users/danielbischoff/Library/CloudStorage/OneDrive-UTCloud/Documents - Dateien von Philipp Langsteiner/Data_literacy_mensa/Mensa_data_combined/Thursday110124.csv')
dFriday = pd.read_csv(r'/Users/danielbischoff/Library/CloudStorage/OneDrive-UTCloud/Documents - Dateien von Philipp Langsteiner/Data_literacy_mensa/Mensa_data_combined/Friday120124.csv')

In [104]:
dMonday
dTuesday
dWednesday
dThursday
dFriday

,frame.time,wlan.sa,wlan.da,_ws.col.protocol,wlan.ssid
0,"Jan 12, 2024 10:57:39.977602000 W. Europe Stan...",NaN,NaN,802.11,NaN
1,"Jan 12, 2024 10:57:39.982785000 W. Europe Stan...",NaN,19:d4:3b:1e:14:44,802.11,NaN
2,"Jan 12, 2024 10:57:39.986001000 W. Europe Stan...",5a:ef:5b:d6:c7:3a,2d:2c:93:b7:93:a3,802.11,NaN
3,"Jan 12, 2024 10:57:39.992557000 W. Europe Stan...",06:dd:c6:6a:a4:53,NaN,802.11,NaN
4,"Jan 12, 2024 10:57:39.994440000 W. Europe Stan...",8b:53:e0:85:86:9a,ea:1e:89:fe:01:92,802.11,NaN
...,...,...,...,...,...
2568580,"Jan 12, 2024 14:10:25.579532000 W. Europe Stan...",NaN,NaN,802.11,NaN
2568581,"Jan 12, 2024 14:10:25.602809000 W. Europe Stan...",00:f6:63:79:03:d0,ff:ff:ff:ff:ff:ff,802.11,656475726f616d
2568582,"Jan 12, 2024 14:10:25.603659000 W. Europe Stan...",NaN,NaN,802.11,NaN
2568583,"Jan 12, 2024 14:10:25.604634000 W. Europe Stan...",NaN,NaN,802.11,NaN
2568584,"Jan 12, 2024 14:10:25.608134000 W. Europe Stan...",NaN,NaN,802.11,NaN

In [98]:
# change time format to defined format
def changeTimeFormat(data):
    data = data.copy()
    data['frame.time'] = data['frame.time'].str.replace('W. Europe Standard Time', 'CET')
    data['frame.time'] = pd.to_datetime(data['frame.time'], format='%b %d, %Y %H:%M:%S.%f %Z')
    
    return data

In [103]:
dTimeFormatMonday = changeTimeFormat(dMonday)
dTimeFormatTuesday = changeTimeFormat(dTuesday)
dTimeFormatWednesday = changeTimeFormat(dWednesday)
dTimeFormatThursday = changeTimeFormat(dThursday)
dTimeFormatFriday = changeTimeFormat(dFriday)

In [107]:
nan_count = dFriday['frame.time'].isna().sum()
nan_new_count = dTimeFormatFriday['frame.time'].isna().sum()
count = len(dFriday['frame.time'])
count = len(dTimeFormatFriday['frame.time'])

In [109]:
# shift Wednesday one hour
dTimeFormatWednesday['frame.time'] = dTimeFormatWednesday['frame.time'] + timedelta(hours=1)

,frame.time,wlan.sa,wlan.da,_ws.col.protocol,wlan.ssid
0,2024-01-10 11:01:07.758711+01:00,00:f6:63:81:c8:6b,ff:ff:ff:ff:ff:ff,802.11,55546775657374
1,2024-01-10 11:01:07.784807+01:00,NaN,NaN,802.11,NaN

In [128]:
# dTimeFormatMonday
# dTimeFormatTuesday
# dTimeFormatWednesday
# dTimeFormatThursday
# dTimeFormatFriday

# nan_new_count = dTimeFormatFriday['frame.time'].isna().sum()


# dTimeFormatFriday.set_index('frame.time', inplace=True)
# print(dTimeFormatFriday.index)
# dTimeFormatFriday.reset_index(inplace=True)

RangeIndex(start=0, stop=2568585, step=1)

In [129]:
# Save the modified DataFrame as a CSV file
dTimeFormatMonday.to_csv(r'/Users/danielbischoff/Library/CloudStorage/OneDrive-UTCloud/Documents - Dateien von Philipp Langsteiner/Data_literacy_mensa/Mensa_data_time_formated/080124Monday.csv')
dTimeFormatTuesday.to_csv(r'/Users/danielbischoff/Library/CloudStorage/OneDrive-UTCloud/Documents - Dateien von Philipp Langsteiner/Data_literacy_mensa/Mensa_data_time_formated/090124Tuesday')
dTimeFormatWednesday.to_csv(r'/Users/danielbischoff/Library/CloudStorage/OneDrive-UTCloud/Documents - Dateien von Philipp Langsteiner/Data_literacy_mensa/Mensa_data_time_formated/100124Wednesday')
dTimeFormatThursday.to_csv(r'/Users/danielbischoff/Library/CloudStorage/OneDrive-UTCloud/Documents - Dateien von Philipp Langsteiner/Data_literacy_mensa/Mensa_data_time_formated/110124Thursday')
dTimeFormatFriday.to_csv(r'/Users/danielbischoff/Library/CloudStorage/OneDrive-UTCloud/Documents - Dateien von Philipp Langsteiner/Data_literacy_mensa/Mensa_data_time_formated/120124Friday')